<div>
    <span>Filter by: 
        <input type="text" 
                [(ngModel)]='filterText' />
    </span>
</div>
<div>
    <br />
    <span>View: {{filterText}}</span>
</div>
<hr />
<table border="1" cellpadding="10" cellspacing="10">
    <tr>
        <th>
            <button (click)='toggle()'>Toggle</button>
        </th>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Code
        </th>
    </tr>
    <tr *ngFor='let product of products'>
        <td>
            <img src="{{product.imageUrl}}" 
                *ngIf='showImage'
                [style.width.px]='imageWidth'
                [title]='product.productName' />
        </td>
        <td>
            {{product.productId}}
        </td>
        <td>
            {{product.productName}}
        </td>
        <td>
            {{product.productCode | convertToSpaces:'-'}}
        </td>
    </tr>
</table>